body{
  background-image: url("https://lumiere-a.akamaihd.net/v1/images/sa_pixar_virtualbg_insideout_16x9_cbaa0517.jpeg");
  background-size: auto;
  font-family: 'Cormorant', serif;
}
#s1{
  background-color: white;
  margin: 30vh 20vw;
  padding: 8vh 10vw 10vh 10vw;
  border-radius: 8px;
  height: 30vh;
}

button{
  border-radius: 8px;
  padding: 1vh 3vw;
  float: right;
  margin-top: 1vh;
  background: linear-gradient(to right, #cc99ff 0%, #ff99cc 100%);
  color: white;
  font-weight:bold;
  position:center;
  font-size: 20px;
  bottom:300px;
  right:600px;
  font-family: 'Cormorant', serif;
}

button:hover{
  border: #fff solid 1px;
}

button:active{
  color: black;
}

h1{
  color: white;
  font-weight: 800;
  font-family: 'Cormorant', serif;
  margin-left: 30%;
  box-sizing: border-box;
}
